<div class="container">
    <hr>

    <form>
        <div class="input-group mb-3">
            <input [type]="checkerSelected.getInputType()" id="email" [placeholder]="checkerSelected.getPlaceHolder()">
            <span class="input-group-btn">
                <button class="btn btn-primary" type="button" (click)="openDialog()">Rules!</button>
            </span>
        </div>


        <mat-accordion>
            <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>Data type:</mat-panel-title>
                    <mat-panel-description>{{ checkerSelected.type }}</mat-panel-description>
                </mat-expansion-panel-header>
                <section class="example-section">
                    <mat-radio-group [(ngModel)]="checkerSelected.type" name="type" aria-labelledby="example-radio-group-label" class="example-radio-group">
                        <mat-radio-button class="example-margin" *ngFor="let type of types" [value]="type">{{ type }}</mat-radio-button>
                    </mat-radio-group>
                </section>
                <mat-action-row>
                    <button mat-button color="primary" (click)="nextStep()">Next</button>
                </mat-action-row>

            </mat-expansion-panel>


            <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Length
                    </mat-panel-title>
                    <mat-panel-description></mat-panel-description>
                </mat-expansion-panel-header>

                <mat-checkbox class="example-margin" [(ngModel)]="checked" name="checked">Length Restriction</mat-checkbox>
                <input matInput type="number" placeholder="min" [disabled]="!checked">
                <input matInput type="number" placeholder="max" [disabled]="!checked">


                <mat-action-row>
                    <button mat-button color="warn" (click)="prevStep()">Previous</button>
                    <button mat-button color="primary" (click)="nextStep()">Next</button>
                </mat-action-row>
            </mat-expansion-panel>


            <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Day of the trip
                    </mat-panel-title>
                    <mat-panel-description>
                        Inform the date you wish to travel
                        <mat-icon>date_range</mat-icon>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <mat-form-field>
                    <input matInput placeholder="Date" [matDatepicker]="picker" (focus)="picker.open()" readonly>
                </mat-form-field>
                <mat-datepicker #picker></mat-datepicker>

                <mat-action-row>
                    <button mat-button color="warn" (click)="prevStep()">Previous</button>
                    <button mat-button color="primary" (click)="nextStep()">End</button>
                </mat-action-row>
            </mat-expansion-panel>


        </mat-accordion>

        <button class="btn btn-primary" type="button" (click)="setChecker('email')">Rules!</button>



    </form>

</div>